<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to My New Home Page</h1>
  <a href="/register">Register</a> | 
  <a href="/login">Login</a> | 
  <a href="/secret">Secret Page</a>
</body>
</html>
